@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using cloudscribe.SimpleContent.Web
@using cloudscribe.SimpleContent.Web.Design
@inject IStringLocalizer<SimpleContent> sr
@inject cloudscribe.SimpleContent.Models.IBlogRoutes blogRoutes
@inject IOptions<IconCssClasses> iconClassesAccessor
@{
    var icons = iconClassesAccessor.Value;
}

<section class="panel panel-default">
    <div class="panel-heading">
        
    </div>
    <div class="panel-body">
        
    </div>
</section>
